.log-display {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
  max-height: 50%;
  overflow-y: auto;
  width: 50%;
}

.log-display h2 {
  margin-bottom: 20px;
  color: #333;
}

.table-container {
  margin-bottom: 10px;
}

.log-display h3 {
  margin-bottom: 10px;
  color: #555;
}

.log-display table {
  width: 100%;
  height: 50%;
  border-collapse: collapse;
  font-size: 1.0em;
}

.log-display th,
.log-display td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.log-display th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.log-display tr:nth-child(even) {
  background-color: #f8f9fa;
}


  
  